// 1. Your custom variables and variable overwrites.
$global-link-color: #DA7D02;

// 2. Import default variables and available mixins.
@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

body {
  margin: 0;
  padding: 0;
}

nav {
  border-bottom: solid 2px #2889ED;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex: 1;
}

.document-button {
  min-width: 300px;
  @media screen and (max-width: 960px) {
    width: 100%;
  }
  @media screen and (min-width: 961px) {
    width: calc(100% * (1/3) - 10px);
  }
}

.photos-button {
  margin-right: 5px;
  margin-bottom: 5px;
  @media screen and (max-width: 960px) {
    width: calc(100% * (1/1) - 10px);
  }
  @media screen and (min-width: 961px) {
    width: calc(100% * (1/3) - 10px);
  }
}

.folder-button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.folder-button {
  @media screen and (max-width: 640px) {
    width: calc(100% * (1/1) - 10px);
  }
  @media screen and (min-width: 641px) and (max-width: 960px) {
    width: calc(100% * (1/2) - 10px);
  }
  @media screen and (min-width: 961px) and (max-width: 1200px) {
    width: calc(100% * (1/3) - 10px);
  }
  @media screen and (min-width: 1201px) {
    width: calc(100% * (1/4) - 10px);
  }
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.team-name-input {
  margin-bottom: 10px;
}

.small-spacer {
  height: 10px;
}

.uk-modal-dialog {
  height: 100%;
}

.portfolio-tile-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.portfolio-tile {
  border: solid 1px #F8F8F8;
  cursor: pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media screen and (max-width: 600px) {
    width: 100%;
    padding: 10px;
  }
  @media screen and (min-width: 601px) and (max-width: 900px) {
    width: 50%;
    padding: 15px;
  }
  @media screen and (min-width: 901px) and (max-width: 1200px) {
    width: 33.3%;
    padding: 15px;
  }
  @media screen and (min-width: 1201px) {
    min-height: calc(1/4 * (100vh - 82px));
    width: 25%;
    padding: 15px;
  }
  
  h3, p {
    margin: 2px;
  }
  
  p {
    font-size: .8em;
  }
}

.portfolio-tile:hover {
  transition: background-color 0.2s ease-out;
  background-color: #2889ED;
}

.markdown-grid {
  height: 100%;
}

.markdown-container {
  overflow-wrap: break-word;
}

.portfolio-header-container {
  display: flex;
  flex-direction: row;
}

.portfolio-header-left {
  flex: 1;
}

.portfolio-header-right {
  min-width: 300px;
  flex: 0;
}

.horizontal-spacer {
  margin-left: 10px;
}

.close-button-spacer {
  margin-left: 54px;
}

.fill-height {
  min-height: calc(100vh - 130px);
}

.fill-height-smaller {
  min-height: calc(100vh - 130px - 74px);
}

.maintain-height {
  height: 34px;
}